:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --text-color-msg: whitesmoke;
    --bg-url-lg: url(../img/Background.png);
    --nav-color: #2e2e2e;
    --bg-ballon: rgba(255, 255, 255, 0.2);
    --bg-scroll:  #2e2e2e;
}

.light{
    --text-color-msg: black;
    --bg-url-lg: url(../img/BackgroundLight.png);
    --nav-color: #bebaba;
    --bg-ballon: rgba(255, 255, 255, 1);
    --bg-scroll: #e0dddd ;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    display: flex;
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: var(--bg-url-lg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 

}
    

nav {
    display: block;
    display: flex;
    flex-direction: column;
    width: 70px;

    
    background-color: var(--nav-color);

    left: 0;
    top: 0;
    gap: 22px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon:hover {
    
    width: 50px;
}


.icon-more{
    width: 30px;
    height: 30px;
    cursor: pointer;
  
}

.icon img {
    width: 30px;
    height: 30px;
    margin: 10px 0;
}

.container {
    display: flex;
    width: calc(100% - 70px); /* Para que a largura total não exceda a tela */
}

.conversations {
    
    background-color: rgba(255, 255, 255, 0.1);
   
    overflow-y: auto;
}



.chat-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Para preencher o espaço restante */
    padding: 20px;
}

.messages {
    flex-grow: 1;
    display: flex;
    overflow-y: auto; /* Permite rolagem */
    flex-direction: column;
    color: var(--text-color-msg);
    padding-right: 20px;

}

.message {
    background-color: var(--bg-ballon) ;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    max-width: 50%; /* Limite a largura dos balões */
}

.you {
    align-self: flex-end; /* Alinha à direita */
}

.reply {
    align-self: flex-start; /* Alinha à esquerda */
    
}

.conversation-form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.conversation-form-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Impede redimensionar */
}

.conversation-form-record {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.conversation-form-record:hover {
    background-color: #0056b3;
}

.content-sidebar-title {
    font-size: 20px;
    padding: 30px; 
    color: var(--text-color-msg);    
}

.content-messages {
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    margin-top: 16px;
    
}
.content-messages-list {
    list-style-type: none;
    padding: 25px ;

}
.content-messages-list li {
    margin-bottom: 10px; 
}
.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-msg);
    padding: 6px 16px;
}

.content-message-title {
    margin-left: 16px;
    margin-right: 16px;
    color: var(--slate-400);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
    padding-bottom: 15px;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
   
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
    z-index: 0;
}
.content-message-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
}
.content-message-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
.content-message-text {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Telas muito pequenas (celulares) */
@media (max-width: 480px) {
    nav {
        width: 20vw; /* Aumentar a barra lateral para caber melhor os ícones */
    }

    .container {
        flex-direction: column; /* Empilhar os elementos na vertical */
        width: 100%;
    }

    .conversations {
        margin-top: 8px; /* Reduzir o espaçamento */
    }
}

/* Estilizando a barra de rolagem */
.conversations::-webkit-scrollbar {
    width: 10px; /* Largura do scroll */
}



.conversations::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll); /* Cor do thumb do scroll */
    border-radius: 10px; /* Canto arredondado */
    border: 2px solid #555; /* Espaço entre o thumb e a trilha */
}



.messages::-webkit-scrollbar {
    width: 10px; /* Largura do scroll */
}



.messages::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll); /* Cor do thumb do scroll */
    border-radius: 10px; /* Canto arredondado */
    border: 2px solid #555; /* Espaço entre o thumb e a trilha */
}

